<%= form_with(model: special_device_list_device, local: true) do |form| %>
  <% if special_device_list_device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(special_device_list_device.errors.count, "error") %> prohibited this special_device_list_device from being saved:</h2>

      <ul>
        <% special_device_list_device.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :special_device_list_id %>
    <%= form.text_field :special_device_list_id %>
  </div>

  <div class="field">
    <%= form.label :device_id %>
    <%= form.text_field :device_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
