<p id="notice"><%= notice %></p>

<h1>Critical Asset Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @special_device_lists.each do |special_device_list| %>
      <tr>
        <td><%= special_device_list.name %></td>
        <td><%= link_to 'Show', special_device_list %></td>
        <td><%= link_to 'Edit', edit_special_device_list_path(special_device_list) %></td>
        <td><%= link_to 'Destroy', special_device_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Critical Asset List', new_special_device_list_path %>
